@import '../../../styles.scss';

.navbar {
  display: flex;
  justify-content: center;
  background-color: $color-bg; // רקע Dark Mode
  padding: 15px 0;
  font-family: 'Inter', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px $color-shadow; // צל עדין מותאם ל-Dark Mode

  ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;

    a {
      text-decoration: none;
      color: #ccc; // טקסט בהיר לקריאות על רקע כהה
      font-weight: 600;
      font-size: 16px;
      padding: 8px 0;
      transition: all 0.3s ease;
      display: inline-block;

      &:hover {
        color: $color-primary; // כחול בהיר באובר
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0%;
        background-color: $color-primary; // קו תחתון כחול
        border-radius: 3px;
        transition: width 0.3s ease;
      }
    }

    &:hover a::after {
      width: 100%;
    }

    &.active a {
      color: $color-primary; // כחול בעמוד הנוכחי
    }

    &.active a::after {
      width: 100%;
    }
  }
}
