<!-- components/navbar/navbar.component.html -->
<nav class="navbar">
  <div class="logo-container">
    <img src="assets/logo2.png" alt="Site Logo" class="logo" />
  </div>

  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/homepage">Homepage</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/dev-status">Dev Status</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/personal-report">Personal Report</a>
    </li>
  </ul>

  <!-- Add notification component to navbar -->
  <div class="navbar-actions">
    <app-notifications></app-notifications>
  </div>
</nav>