// components/component-list/component-list.component.scss
@import "../../../styles.scss";

.homepage-container {
  background: $color-bg;
  color: $color-text;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 120px; // מקום לaction area
}

.selection-area {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}